.breadcrumb_wrapper,
.product_banner {
    background-color: var(--black-color);
    padding: 50px 0;
    text-align: center;
}

.breadcrumb_wrapper__content h2,.global_banner__content h1 {
    font-size: 42px;
    color: var(--white-color);
    font-weight: 600;
    text-transform: capitalize;
}

.about_us {
    background-color: #FFF4EE;
}

.about_img img {
    width: 100%;
}

.about_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.about_content h2 {
    font-size: 44px;
    font-weight: 600;
    text-transform: capitalize;
}

.about_content p {
    margin-top: 1rem;
    font-size: 18px;
    line-height: 30px;
}

.mission_vision__content {
    text-align: center;
}

.mission_vision__content h2 {
    font-size: 36px;
    font-weight: 600;
    color: var(--black-color);
}

.mission_vision__content p {
    font-size: 18px;
    line-height: 30px;
    margin-top: 10px;
}

.mission_vision__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}